@charset "utf-8";
/* CSS Custom by Aut */


@media screen and (min-width: 601px) {  /* pc */
      .text-title 	{
        font-size: 18px;
      }
    }

    @media screen and (max-width: 600px) {  /* mobile */
      .text-title {
        font-size: 15px;
      }
    }
		
	ion-icon {
	  font-size: 18px;
	}
    
    .sidebar {  font-family: 'Kanit', sans-serif !important;      }

	.logo-size { eight: 37px;}
	
	.sidebar .nav.sub-menu .nav-item .nav-link {    font-weight: 300;	}
    .card-body {   font-size:14px;   font-weight: 300;  }
	.btn { 	font-size:14px;     font-weight: 300;     }
    .text-title {   font-size:17px  !important;      font-weight: 400 !important;    }

    .box-food {  width: 18rem;  /*flex: 0 0 16.66667%;	  max-width: 16.66667%; */  }
    .nav-select { background-color: #fc7d10 !important;  }
	.nav-select > a { color: #fff !important; }
	.img-foodmenu {  }
	.btn-outline-submit-shop {   
		color: #fc7d10 !important;
		border-color: #fc7d10 !important;
		background-color: #ffffff !important;
		font-weight: 300
	}
	.form-control {  border: 1px solid #e9e9e9 !important; }
