/* particles-box
---------------------------*/
.particles-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.2;
    pointer-events: none;
}

/* Effect Section
------------------------*/
.effect-section {
    position: relative;
    overflow: hidden;
    .svg-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }

    .owl-carousel-effect {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .shap-top-left {
        position: absolute;
        width: 100vh;
        height: 100vh;
        left: -30vh;
        top: -30vh;
    }
    .shap-bottom-right {
        position: absolute;
        width: 100vh;
        height: 100vh;
        right: -30vh;
        bottom: -30vh;
    }
    .shap-middle-left {
        position: absolute;
        top: 0;
        left: -25vh;
        bottom: 0;
        margin: auto;
        width: 100vh;
        height: 100vh;
    }
    .shap-middle-right {
        position: absolute;
        top: 0;
        right: -25vh;
        bottom: 0;
        margin: auto;
        width: 100vh;
        height: 100vh;
    }

    .shap-middle-left-01 {
        position: absolute;
        top: -25%;
        left: -25%;
        bottom: -25%;
        margin: auto;
        right: 70%;
    }
}
.rounded-section {
    &-all {
        border-radius: 80px;
    }
    &-bottom-left {
        border-bottom-left-radius: 80px;
    }
    &-bottom-right {
        border-bottom-right-radius: 80px;
    }
    &-top-left {
        border-top-left-radius: 80px;
    }
    &-top-right {
        border-top-right-radius: 80px;
    }
}

.divider-right {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    svg {
        position: absolute;
        top: -50%;
        bottom: -50%;
        left: 0;
        height: 200%;
    }
}

.divider-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    text-align: right;
    svg {
        position: absolute;
        top: -50%;
        bottom: -50%;
        right: 0;
        height: 200%;
    }
}

/* After 50
------------------------*/
.after-50 {
    position: relative;
    &:after {
        content:"";
        position:absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 2px;
        .text-center & {
            right: 0;
            margin: auto;
        }
    }
}

/* Process Step
------------------------*/
.process-step {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    @include down-lg {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &:first-child {
        padding-top:0;
    }
    &:last-child {
        padding-bottom:0;
    }
    &:not(:last-child) {
        &:after {
            content: "";
            position: absolute;
            border-radius: 0 140px 0 0;
            width: 80px;
            height: 200px;
            left: 100px;
            bottom: -100px;
            @include rotate(72);
            right: 0;
            margin: auto;
            border-top: 2px dashed rgba($px-black, 0.1);
            border-right:  2px dashed rgba($px-black, 0.1);
            @include down-lg {
                width: 40px;
                height: 100px;
                left: 50px;
                bottom: -50px;
            }
        }
    }
    &:nth-child(even) {
        &:after {
            border-top: none;
            border-bottom: 2px dashed rgba($px-black, 0.1);
            border-radius: 0 0 140px 0;
            @include rotate(-72);
        }
    }
}

/* Mask
------------------------*/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mask-75 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;
}
.mask-65 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35%;
}

.mask-50 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
}

.mask-40 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
}

/* mouse
------------------------*/
.mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    display: inline-block;
    width: 26px;
    height: 46px;
    border-radius: 10rem;
    border: 2px solid currentColor;
    &:after {
        @include translate(-50%, 0);
        content: "";
        position: absolute;
        display: block;
        top: 25%;
        left: 50%;
        width: 6px;
        height: 6px;
        background: currentColor;
        border-radius: 50%;
        -webkit-animation: mouse 2s linear infinite;
        -moz-animation: mouse 2s linear infinite;
        animation: mouse 2s linear infinite;
    }
}

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    @include translate(-50%,0);
  }
  100% {
    opacity: 0;
    @include translate(-50%,20px);
  }
}

@-moz-keyframes mouse {
  0% {
    opacity: 1;
    @include translate(-50%,0);
  }
  100% {
    opacity: 0;
    @include translate(-50%,20px);
  }
}

@keyframes mouse {
  0% {
    opacity: 1;
    @include translate(-50%,0);
  }
  100% {
    opacity: 0;
    @include translate(-50%,20px);
  }
}

/* Phone Frame
------------------------*/
.phone-frame {
    position: relative;
    z-index: 3;
    display: inline-block;
    .pf-inner {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 72%;
        height: 84%;
        margin: 10% 0 0 14%;
        border-radius: 5%;
    }
}

/* Sticky
------------------------*/
.sticky-xl-top {
    @include up-xl {
        position: sticky;
        top: 0;
        z-index: 1;

        .fixed-header~main & {
            top: 90px;
        }
    }
}

.sticky-lg-top {
    @include up-lg {
        position: sticky;
        top: 0;
        z-index: 1;

        .fixed-header~main & {
            top: 90px;
        }
    }
}

.sticky-md-top {
    @include up-md {
        position: sticky;
        top: 0;
        z-index: 1;

        .fixed-header~main & {
            top: 90px;
        }
    }
}

.sticky-sm-top {
    @include up-sm {
        position: sticky;
        top: 0;
        z-index: 1;

        .fixed-header~main & {
            top: 90px;
        }
    }
}