/* Fixed Header
----------------------------------*/
.fixed-header-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	.fixed-header & {
		background: $px-white;
		box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.06);
	}
	.header-dark:not(.header-transparent) & {
		background: $px-white;
	}
}

/* Header Top Bar
----------------------------------*/
.navbar-top {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #111;
	@include transition(ease all 0.35s); 
	.fixed-header & {
		margin-top: -41px;
	}
	.header-white & {
		background: transparent;
		border-bottom: 1px solid rgba($px-white, 0.15);
	}
	.navbar-nav {
		position: relative;
	}
	.h-ads {
		font-size: 12px;
		margin-right: 20px;
		color: rgba($px-white, 0.8);
		span {
			padding: 5px 10px;
			background: $px-theme;
			color: $px-white;
			border-radius: 30px;
		}
		label {
			margin: 0;
		}
	}
	.h-lang {
		.flag-icon {
		    width: 20px;
		    height: 15px;
		    vertical-align: middle;
		    margin-right: 8px;
		}
	}
	.dropdown {
		> .nav-link {
			padding:0;
			font-size: 12px;
			color: rgba($px-white, 0.8);
			line-height: 30px;
			display: block;
		}
		.dropdown-menu {
			border-radius: 0;
			border: none;
			margin: 0;
			.dropdown-header {
			    font-weight: 500;
				padding: 5px 12px;
				color: $px-dark;
			}
			.dropdown-item {
				background: transparent;
				font-size: 12px;
				padding: 5px 12px;
				color: $px-body-color;
				i {
				    font-size: 20px;
				    vertical-align: middle;
				    width: 22px;
				    color: $px-theme;
				}
				.badge {
					color: $px-white;
				}
				&.active,
				&:hover {
					color: $px-theme;
				}
			}
		}
	}

	.h-right {
		.nav {
			> li {
				&:not(:first-child) {
					margin-left: 10px;
					padding-left: 10px;
					position: relative;
					&:after {
						content:"";
						position: absolute;
						bottom: 0;
						top: 0;
						left: 0;
						margin: auto;
						width: 1px;
						height: 10px;
						background-color: $px-white;
						opacity: 0.3;
					}
				}
			}
		}
		.h-icon {
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: rgba($px-white, 0.8);
			display: inline-block;
			vertical-align: top;
			text-align: center;
			font-size: 22px;
		}
		.nav-link {
		    padding: 0 5px;
		    font-size: 13px;
		    line-height: 30px;
		    color: rgba($px-white, 0.8);
		}
	}
	.hm-search-open {
		.h-in-search {
			top: 0;
		}	
	}
	.h-in-search {
		position: absolute;
	    top: -300%;
	    right: 0;
	    left: 0;
	    padding: 16px;
	    background: $px-white;
	    @include transition(ease all 0.35s); 
		.form-control {
		    font-size: 13px;
		    border: 1px solid #ddd;
		    border-right: none;
		    border-radius: 0;
		    box-shadow: none;	
		}
		.hs-btn {
			background: none;
		    font-size: 25px;
		    border: 1px solid #ddd;
		    padding: 0 13px;
		    border-left: none;
		}
	}
}

/* Header Main
----------------------------------*/
.header-white {
	&.header-border {
		.fixed-header-bar {
			border-bottom: 1px solid rgba($px-white, 0.1);
		}
	}
}

.header-dark {
	&.header-border {
		.fixed-header-bar {
			border-bottom: 1px solid rgba($px-black, 0.1);
		}
	}
}
.navbar-main {
	.logo-dark {
		display: none;
		.fixed-header & {
			display: block;
		}
	}
	.logo-light {
		.fixed-header & {
			display: none;
		}
	}
}

/* Desktop
----------------------------------*/
@include up-lg {
	.navbar-main {
		padding: 0;
		.navbar-nav {
			> .nav-item {
				> .nav-link {
					padding: 30px 16px;
					color: rgba($px-white, 0.85);
					font-weight: 600;
					@include transition(ease all 0.35s);
					&.active {
						color: $px-white;
						.fixed-header & {
							color: $px-theme;
						}
						.header-dark & {
							color: $px-theme;
						}
					}
					.fixed-header & {
						padding-top: 25px;
						padding-bottom: 25px;
						color: $px-dark;
					}
					.header-dark & {
						color: $px-dark;
					}
				}
				&:hover {
					> .nav-link {
						color: $px-white;
						.fixed-header & {
							color: $px-theme;
						}
						.header-dark & {
							color: $px-theme;
						}
					}
				}
			}
		}
	}
}

/*	Toggle Menu
-------------------------*/
.navbar-toggler {
	width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
	background: $px-theme;
	border: none;
	.header-white & {
		background: $px-white;
	}
	span {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 25px;
	    height: 2px;
	    margin: auto;
	    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
		background: $px-white;
		color: $px-white;
		.header-white & {
			background: $px-dark;
			color: $px-dark;
		}
	}
}


/* Responsive Menu
-----------------------------*/
@include down-lg {
	.navbar-main {
		padding-top: 10px;
		padding-bottom: 10px;
		.navbar-collapse {
		    position: absolute;
		    top: 100%;
		    left: 0;
		    right: 0;
		    background: $px-white;
	        max-height: 80vh;
			overflow-y: auto;
			box-shadow: 0px 11px 20px 0px rgba(38, 59, 94, 0.2);
		}
		.navbar-nav {
			> li  {
				margin: 0;
				border-top:1px solid #e6e6e6;
		    	> a {
				    text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					padding: 0 15px;
    				line-height: 40px;
					display: block;
					color: $px-dark;
		    	}
			}
		}
	}
}